## Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data

In [2]:
df = pd.read_excel('space_launches_advanced_report.xlsx')

df['Country'] = df['Launch Pad'].apply(lambda x: x.split(',')[-1].strip() if ',' in x else 'Unknown')

df.head()

,Name,Date (Central Time),Status,Provider,Rocket,Mission,Launch Pad,Country
0,Sputnik 8K74PS | Sputnik 1,1957-10-04 09:28 AM,Launch Successful,Soviet Space Program,Sputnik 8K74PS,Sputnik 1,"1/5 | Baikonur Cosmodrome, Republic of Kazakhstan",Republic of Kazakhstan
1,Sputnik 8K74PS | Sputnik 2,1957-11-02 02:30 PM,Launch Successful,Soviet Space Program,Sputnik 8K74PS,Sputnik 2,"1/5 | Baikonur Cosmodrome, Republic of Kazakhstan",Republic of Kazakhstan
2,Vanguard | Vanguard,1957-12-06 04:44 AM,Launch Failure,US Navy,Vanguard,Vanguard,"Launch Complex 18A | Cape Canaveral, FL, USA",USA
3,Juno-I | Explorer 1,1958-01-31 03:47 PM,Launch Successful,Army Ballistic Missile Agency,Juno-I,Explorer 1,"Launch Complex 26A | Cape Canaveral, FL, USA",USA
4,Vanguard | Vanguard,1958-02-04 07:33 PM,Launch Failure,US Navy,Vanguard,Vanguard,"Launch Complex 18A | Cape Canaveral, FL, USA",USA

### Let's first seperate out the data into our different time windows 

üõ∞Ô∏è 1. The Dawn of Space & the Space Race (1957‚Äì1975)
Context: Cold War rivalry between the USSR and the USA


üöÄ 2. Stabilization & Early Cooperation (1975‚Äì1990)
Context: D√©tente period between superpowers


üåç 3. International Collaboration & the ISS Era (1990‚Äì2010)
Context: End of Cold War, rise of global partnerships


üåêüöÄ 4. The New Space Era & Commercial Revolution (2010‚Äì2020)
Context: Rise of private companies and democratization of space access
ü™ê Multi-Actor Ambitions & Planetary Goals (2020‚ÄìPresent)

In [3]:
df_past = df[(df['Status'] != 'Go for Launch') & (df['Status'] != 'To Be Confirmed') & (df['Status'] != 'To Be Determined')] 

df_future = df[(df['Status'] != 'Launch Successful') & (df['Status'] != 'Launch Failure') & (df['Status'] != 'Launch was a Partial Failure')]

In [4]:
df1 = df_past[df_past['Date (Central Time)'] < '1975-01-01']

df2 = df_past[(df_past['Date (Central Time)'] > '1975-01-01') & (df_past['Date (Central Time)'] < '1990-01-01')]

df3 = df_past[(df_past['Date (Central Time)'] > '1990-01-01') & (df_past['Date (Central Time)'] < '2010-01-01')]

df4 = df_past[(df_past['Date (Central Time)'] > '2010-01-01') & (df_past['Date (Central Time)'] < '2025-01-01')] ### Here set as today if scraped live

### Let's look at the main providers for each space era

In [25]:
df1_providers = df1['Provider'].value_counts().reset_index(name='Nb_of_launches').head(3)
df2_providers = df2['Provider'].value_counts().reset_index(name='Nb_of_launches').head(3)
df3_providers = df3['Provider'].value_counts().reset_index(name='Nb_of_launches').head(3)
df4_providers = df4['Provider'].value_counts().reset_index(name='Nb_of_launches').head(3)
df_future_providers = df_future['Provider'].value_counts().reset_index(name='Nb_of_launches').head(3)

In [26]:
print(df1_providers)

                                        Provider  Nb_of_launches
0                           Soviet Space Program             884
1                        United States Air Force             629
2  National Aeronautics and Space Administration             121

In [27]:
print(df2_providers)

                  Provider  Nb_of_launches
0     Soviet Space Program            1408
1  United States Air Force             244
2              Arianespace              33

In [28]:
print(df3_providers)

                                   Provider  Nb_of_launches
0                   United States Air Force             202
1  Russian Federal Space Agency (ROSCOSMOS)             190
2                               Arianespace             155

In [29]:
print(df4_providers)

                                            Provider  Nb_of_launches
0  China Aerospace Science and Technology Corpora...             404
1                                             SpaceX             369
2           Russian Federal Space Agency (ROSCOSMOS)             133

In [30]:
print(df_future_providers)

                 Provider  Nb_of_launches
0                  SpaceX             132
1             Arianespace              49
2  United Launch Alliance              45

### Let's look at the main rockets for each provider and space era

In [34]:
df1_rockets = df1.groupby('Provider')['Rocket'].value_counts().reset_index(name='count').sort_values(by='count', ascending=False).groupby('Provider').head(3).reset_index(drop=True)
rockets1 = df1_rockets[df1_rockets['Provider'].isin(df1_providers['Provider'])]
print(rockets1)

                                        Provider               Rocket  count
0                           Soviet Space Program              Voskhod    259
1                           Soviet Space Program         Kosmos 11K63    115
2                           Soviet Space Program            Kosmos-3M     97
3                        United States Air Force  Thor SLV-2A Agena D     61
4                        United States Air Force  Atlas SLV-3 Agena D     48
5                        United States Air Force   Thor DM-21 Agena-B     40
6  National Aeronautics and Space Administration             Saturn V     13
8  National Aeronautics and Space Administration             Titan II     10
9  National Aeronautics and Space Administration              Scout B     10

In [35]:
df2_rockets = df2.groupby('Provider')['Rocket'].value_counts().reset_index(name='count').sort_values(by='count', ascending=False).groupby('Provider').head(3).reset_index(drop=True)
rockets2 = df2_rockets[df2_rockets['Provider'].isin(df2_providers['Provider'])]
print(rockets2)

                   Provider                Rocket  count
0      Soviet Space Program               Soyuz U    533
1      Soviet Space Program             Kosmos-3M    263
2      Soviet Space Program             Molniya-M    157
3   United States Air Force  Atlas SLV-3D Centaur     26
4   United States Air Force            Delta 2914     26
6   United States Air Force            Titan IIIC     15
7               Arianespace              Ariane 3     11
8               Arianespace              Ariane 1     10
14              Arianespace              Ariane 2      6

In [36]:
df3_rockets = df3.groupby('Provider')['Rocket'].value_counts().reset_index(name='count').sort_values(by='count', ascending=False).groupby('Provider').head(3).reset_index(drop=True)
rockets3 = df3_rockets[df3_rockets['Provider'].isin(df3_providers['Provider'])]
print(rockets3)

### here missing space shuttle

                                    Provider              Rocket  count
0                    United States Air Force            Delta II    120
1   Russian Federal Space Agency (ROSCOSMOS)             Soyuz U     86
8                                Arianespace          Ariane 44L     37
16                               Arianespace        Ariane 5 ECA     23
19                               Arianespace         Ariane 44LP     22
21  Russian Federal Space Agency (ROSCOSMOS)         Soyuz-U-PVB     20
22  Russian Federal Space Agency (ROSCOSMOS)               Soyuz     20
31                   United States Air Force        Titan II SLV     11
34                   United States Air Force  Titan 401A Centaur      9

In [37]:
df4_rockets = df4.groupby('Provider')['Rocket'].value_counts().reset_index(name='count').sort_values(by='count', ascending=False).groupby('Provider').head(3).reset_index(drop=True)
rockets4 = df4_rockets[df4_rockets['Provider'].isin(df4_providers['Provider'])]
print(rockets2)

                   Provider                Rocket  count
0      Soviet Space Program               Soyuz U    533
1      Soviet Space Program             Kosmos-3M    263
2      Soviet Space Program             Molniya-M    157
3   United States Air Force  Atlas SLV-3D Centaur     26
4   United States Air Force            Delta 2914     26
6   United States Air Force            Titan IIIC     15
7               Arianespace              Ariane 3     11
8               Arianespace              Ariane 1     10
14              Arianespace              Ariane 2      6

In [15]:
df_future_rockets = df_future.groupby('Provider')['Rocket'].value_counts().reset_index().sort_values(by='count', ascending=False).groupby('Provider').first().reset_index()
df_future_rockets[df_future_rockets['Provider'].isin(list(df_future_providers['Provider']))]

                              Provider      Rocket  count
1                          Arianespace      Vega-C     25
7   Indian Space Research Organization  GSLV Mk II      6
19                          Rocket Lab    Electron     34
23                              SpaceX    Falcon 9    121
24              United Launch Alliance      Vulcan     25